body {
  padding-top: 50px;
}

.avatar {
  background: 4px 4px no-repeat;
  padding-left: 38px;
}

.cell-centered {
  text-align: center;
}

.loading {
  color: #ddd;
  font-size: 30pt;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}

#survey-list li {
  border-top: 1px solid #e5e5e5;
  margin-top: 15px;
  padding-top: 15px;
}

label {
  font-weight: bold;
}
