body {
  padding-top: 50px;
}

.avatar {
  background: 4px 4px no-repeat;
  padding-left: 38px;
}

.cell-centered {
  text-align: center;
}

.loading {
  color: #ddd;
  font-size: 30pt;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}
