.control-group
  .control-label
    %label{for: question_id(longtext_question[:id])}= longtext_question[:text]
  .controls
    = text_area_tag question_id(longtext_question[:id]), nil, rows: 3, class: 'span6'
